<br />

<%= form_tag albums_path, :method => :get do %>
  Search - <%= text_field_tag :search, params[:search] %>
  <%= submit_tag('Search')%>
<% end %>

<table>
 <tr>
  <td>List of albums</td>
  <td></td>
  <td></td>
 </tr>
</table>

<%= link_to 'New Album', new_album_path %>
